#row1{
    border-radius: 20px;
}

input{
    border-radius: 5px;
    width: 50%;
    height: 6vh;
    border-style: hidden;
}
form{
    background-color: #36c7d1cf;
    width: 35rem;
}
/* #main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
} */


h4{
    margin-left: 10px;
}

#mainbox1{
    display: flex;
    flex-direction: column;
    
}